<!-- <tr>
    <th>
        <%= key %>
    </th>
    <td>
        <%= val[0] %>
    </td>
</tr> -->

<tr>
    <table class="table table-dark">
        <tr>
            <th>
                <%= key %>
            </th>
        </tr>
        <% for(let i in val){ %>
            <tr>
                <td>
                    <%= val[i] %>
                </td>
            </tr>

            <% } %>
    </table>

</tr>