<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8">
    <title>
        <%=title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body class="container">

    <head>
        <h1 class="display-4">
            <%=title %>
        </h1>
    </head>
    <div role="main">
        <p>
            <%=content %>
        </p>
    </div>
    <table>
        <% for(let key in data){ %>
            <!-- テーブル出力の部分のhtmlは別ファイルから呼び出し
             パーシャルファイルの内容を書き換えると出力も変わる。 -->
            <%- include('data_item',{key:key,val:[data[key]]}) %>
        <% } %>
    </table>
</body>

</html>